@import 'tailwindcss' important;
@plugin "@tailwindcss/typography";

@config './tailwind.config.js';

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1248px;
  --breakpoint-2xl: initial;

  --font-marianne:
    'Marianne', Arial, sans-serif;
  --font-mono:
    'Noto Sans Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-spectral: 'Spectral';
  --font-gothic: 'URW Gothic';

  --text-4\.5xl: 2.75rem;


  --color-new-primary: #000091;
  --color-new-primary-hover: #1212FF;
  --color-new-primary-clic: #2323FF;
  
  --color-new-gray-dark: #161616;
  --color-new-gray-dark-hover: #343434;
  --color-new-gray-dark-clic: #474747;

  --color-new-gray-medium: #3A3A3A;
  --color-new-gray-medium-hover: #616161;
  --color-new-gray-medium-clic: #777777;

  --color-new-gray-light: #CECECE;
  --color-new-gray-light-hover: #A8A8A8;
  --color-new-gray-light-clic: #939393;

  --color-new-info-light: #E8EDFF;
  --color-new-info-light-hover: #C2D1FF;
  --color-new-info-light-clic: #A9BFFF;

  --color-new-info: #0063CB;
  --color-new-info-hover: #3B87FF;
  --color-new-info-clic: #6798FF;

  --color-new-error-light: #FFE9E9;
  --color-new-error-light-hover: #FFC5C5;
  --color-new-error-light-clic: #FFAFAF;

  --color-new-error: #CE0500;
  --color-new-error-hover: #FF2725;
  --color-new-error-clic: #FF4140;

  --color-new-warning-light: #FFE9E6;
  --color-new-warning-light-hover: #FFC6BD;
  --color-new-warning-light-clic: #FFB0A2;

  --color-new-warning: #B34000;
  --color-new-warning-hover: #FF6218;
  --color-new-warning-clic: #FF7A55;

  --color-new-success-light: #B8FEC9;
  --color-new-success-light-hover: #46FD89;
  --color-new-success-light-clic: #34EB7B;

  --color-new-success: #18753C;
  --color-new-success-hover: #27A959;
  --color-new-success-clic: #2FC368;

  --color-new-blue-illustration: #102185;
  --color-new-blue-illustration-light: #EBEDFF;

  --color-new-green-illustration: #005D6A;
  --color-new-green-illustration-light: #D5F2FF;

  --color-new-brown-illustration: #6E0844;
  --color-new-brown-illustration-light: #FFE7F4;

  --color-new-focus: #0A76F6;

  --color-new-disabled-background: #E5E5E5;
  --color-new-disabled-text: #929292;


  --color-primary: #3558a2;
  --color-ocher: #A6481C;
  --color-green-reuse: #2B6972;
  --color-purple-dataservice: #5E5DAE;
  --color-mention-grey: #666; /* Copy from --text-mention-grey */
  --color-gray-title: #161616;
  --color-gray-medium: #666666;
  --color-gray-lowest-2: #fafafa;
  --color-gray-low: #929292;
  --color-gray-lower-hover: #d2d2d2;
  --color-gray-lower-active: #c1c1c1;
  --color-gray-silver: #cecece;
  --color-gray-lower: #eeeeee;
  --color-gray-lowest: #e8eaed;
  --color-gray-default: #e5e5e5;
  --color-gray-plain: #3a3a3a;
  --color-gray-some: #f6f6f6;
  --color-gray-logo: #373c42;
  --color-gray-dark: #242424;
  --color-gray-disabled: #2A2A2A;
  --color-default-warning: #b32000;
  --color-blue-action-low: #dae6fd;
  --color-blue-action-low-hover: #a9c8fb;
  --color-blue-action-low-active: #a9c8fb;
  --color-blue-light: #e3e3fd;
  --color-blue-lighter: #eef4f8;
  --color-blue-lightest: #f3f6fe;
  --color-blue-tint: #c1c1fd;
  --color-blue-outline: #0a76f6;
  --color-secondary-lightest: #eeeeee;
  --color-secondary-dark: #66666;
  --color-datagouv-lightest: #e6eefe;
  --color-datagouv-lighter: #e3e3fd;
  --color-datagouv-light: #c1c1fd;
  --color-datagouv-hover: #5982e0;
  --color-datagouv-defaultLight: #46699d;
  --color-datagouv: #465f9d;
  --color-datagouv-dark: #3558a2;
  --color-danger-lightest: #ffe9e9;
  --color-danger-dark: #ce0500;
  --color-warning-lightest: #ffe9e6;
  --color-warning-dark: #b34000;
  --color-warning2-lightest: #feecc2;
  --color-warning3-lightest: #fee9e5;
  --color-warning2-dark: #716043;
  --color-warning3-dark: #755348;
  --color-success-lightest: #ecf7f0;
  --color-success-lighter: #c3fad5;
  --color-success-dark: #27a658;
  --color-success-darker: #1f8d49; /* from DSFR to avoid contrast issue */
  --color-success-darkest: #18753c; /* from DSFR to avoid contrast issue */
  --color-pink-softest: #FAFAFA;
  --color-pink-soft: #FFE4F2;
  --color-pink: #CF006D;

  --shadow-input-blue: inset 0 -2px 0 0 #000091;
  --shadow-input: inset 0 -2px 0 0 var(--blue-cumulus-sun-368-moon-732);

  /* This animation are copy/paste from the `pulse` animation of TailwindCSS because the `pulse` animation inherit of a blue background from somewhere (DSFR? Wrong component not-scoped style?) */
  --animate-pulse-placeholder: pulse-placeholder 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  @keyframes pulse-placeholder {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

@custom-variant aria-current-page (&[aria-current="page"]);

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  meter.quality-score {
    background: none;
    border: 1px solid var(--color-gray-default);
    border-radius: 8px;
    height: 10px;
    vertical-align: baseline;
  }
  meter.quality-score::-webkit-meter-bar {
    height: 10px;
    background: whiteSmoke;
    border-radius: 8px;
  }
  meter.quality-score::-moz-meter-bar {
    background: whiteSmoke;
    border-radius: 8px;
  }
  meter.quality-score::-webkit-meter-suboptimum-value {
    background-color: var(--color-gray-low);
  }
  meter.quality-score:-moz-meter-sub-optimum::-moz-meter-bar {
    background-color: var(--color-gray-low);
  }
  meter.quality-score::-webkit-meter-optimum-value {
    background-color: #27A658;
  }
  meter.quality-score:-moz-meter-optimum::-moz-meter-bar {
    background-color: #27A658;
  }
}
