name: Create a new Sentry release with source map
run-name: new sentry release ${{ github.sha }}
on:
  push:
    branches:
      - main
jobs:
  sentry-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup environment variables
        shell: bash
        run: |
          # Set RELEASE_VERSION
          echo "RELEASE_VERSION=${GITHUB_SHA:0:7}" >> $GITHUB_ENV

          # Set ENV based on branch name
          if [ "$GITHUB_REF" = "refs/heads/main" ]; then
            echo "ENV=dev.data.gouv.fr" >> $GITHUB_ENV
          fi

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install datagouv-components dependencies
        run: pnpm install
        working-directory: ./datagouv-components
      
      - name: Run datagouv-components scripts
        run: pnpm run css
        working-directory: ./datagouv-components

      - name: Install dependencies
        run: pnpm install

      - name: Build with commit ID
        run: pnpm run build
        env:
          NUXT_PUBLIC_COMMIT_ID: ${{ env.RELEASE_VERSION }}

      - name: Create Sentry release
        uses: getsentry/action-release@v3
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
          SENTRY_URL: ${{ secrets.SENTRY_URL }}
        with:
          sourcemaps: ".output/public/_nuxt"
          url_prefix: "~/_nuxt"
          ignore_missing: true
          environment: ${{ env.ENV }}
          release: ${{ env.RELEASE_VERSION }}
